<div class="dashboard_menu">
	<ul class="nav nav-pills">
	  <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
	  <li><a href="/configurations"><span class="glyphicon glyphicon-adjust"></span> Configuration</a></li>
	</ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Recent Sales</div>
  <div class="table-responsive">
	  <table class="table table-striped table-bordered table-hover">
	  	<tr>
	  		<th>#</th>
	  		<th>Customer</th>
	  		<th>Total</th>
	  		<th>Remaining</th>
	  		<th></th>
	  	</tr>
	  	<% for sale in @recent_sales %>
	    	<tr class="<%= sale.payments.blank? ? '' : 'success' %>">
	    		<td><%= sale.id %></td>
	    		<td></td>
	    		<td>
	    			<%= sale.total_amount.blank? ? 'No items added yet' : sale.total_amount %>
	    		</td>
	    		<td></td>
	    		<td><%= link_to 'Show', sale %> | <%= link_to 'Edit', edit_sale_path(sale) %> | <%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    	</tr>
	    <% end %>
	  </table>
	</div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Popular Items</div>

  <!-- Table -->
  <table class="table">
    
  </table>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Reports</div>

  <!-- Table -->
  <table class="table">
    
  </table>
</div>