<% if user_signed_in? %>
	
	<div class="dashboard_menu">
		<ul class="nav nav-pills">
		  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Employees</a></li>
		  <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
		  <li><a href="/configurations"><span class="glyphicon glyphicon-adjust"></span> Configuration</a></li>
		</ul>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Last 10 Sales</div>

	  <table class="table">
	  	<tr>
	  		<th>Customer</th>
	  		<th>Total</th>
	  		<th>Remaining</th>
	  		<th></th>
	  	</tr>
	  	<% for sale in @recent_sales %>
	    	<tr class="<%= sale.payments.blank? ? '' : 'success' %>">
	    		<td></td>
	    		<td>
	    			<%= sale.total_amount.blank? ? 'No items added yet' : sale.total_amount %>
	    		</td>
	    		<td></td>
	    		<td><%= link_to 'Show', sale %> | <%= link_to 'Edit', edit_sale_path(sale) %> | <%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    	</tr>
	    <% end %>
	  </table>
	</div>

	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Popular Items</div>

	  <!-- Table -->
	  <table class="table">
	    
	  </table>
	</div>

	
<% else %>
	<div class="container">
  
      <%= form_for("user", :url => user_session_path, :html => { :class => "form-signin" }) do |f| %>
      	<h2 class="form-signin-heading">PushVendor</h2>
	      <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email Address' %>
	      <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
	      <label class="checkbox">
	      	<%= f.check_box :remember_me %> Remember me
	      </label>
	      <%= link_to "Forgot your password?", new_password_path('user') %>
	      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      <p class="copyright">Copyright &copy; 2013 PushVendor</p>
	    <% end %>

    </div>
<% end %>