<%= form_for(@configuration, url: { controller: 'configurations', action: 'update'}) do |f| %>

<div class="panel panel-default">
  <div class="panel-heading">Store Configuration</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Store Name</label>
          <%= f.text_field :store_name, :class => "form-control", :placeholder => "Name of store" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Store Description</label>
          <%= f.text_area :store_description, :class => "form-control", :placeholder => "Description of store" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Email Address</label>
          <%= f.text_field :email_address, :class => "form-control", :placeholder => "Email address" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Phone Number</label>
          <%= f.text_field :phone_number, :class => "form-control", :placeholder => "Phone number" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= f.submit 'Update Store', :class => "btn btn-success btn-lg" %>
  </div>
</div>
<% end %>
