<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
  <div class="panel-heading">New Item Details</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Name of Item</label>
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Description</label>
          <%= f.text_field :description, :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Price</label>
          <%= f.text_field :price, :class => "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Stock Amount</label>
          <%= f.text_field :stock_amount, :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Cost Price</label>
          <%= f.text_field :cost_price, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>


  <button type="button" class="btn btn-primary">Default</button>
<% end %>
