<div class="added_items">  
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
      </thead>

      <tbody>
        <%= form_for(@sale) do |f| %>
          <%= f.fields_for :items do |e| %>
            <tr>
              <td><%= e.text_field :sku, :class => "form-control", :placeholder => "SKU", :readonly => true %></td>
              <td><%= e.text_field :name, :class => "form-control", :placeholder => "Item", :readonly => true %></td>
              <td><%= e.text_field :description, :class => "form-control", :placeholder => "Description", :readonly => true %></td>
              <td><%= e.text_field :price, :class => "form-control", :placeholder => "Price" %></td>
              <%= e.fields_for :line_items do |g| %>
                <td><%= g.text_field :quantity, :class => "form-control", :placeholder => "Quantity" %></td>
                <td><%= g.text_field :price, :class => "form-control", :placeholder => "Total Price", :readonly => true %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>

      </tbody>
    </table>
  </div>
</div>