<div class="row item_search_wrapper">
  <div class="col-sm-4">
    <h4 class="text-primary"><span class="glyphicon glyphicon-search"></span> Find</h4>
    <hr />
    <%= form_for :search, :url => url_for(:controller => "sales", :action => "update_customer_options", :format => :js), :method => "get", :remote => true do |f| %>
      <%= f.text_field :customer_name, :class => "form-control customer_search_input", :placeholder => "Search Customers" %>
      <%= f.hidden_field :sale_id, :value => @sale.id %>
      <%= submit_tag "search", :class => "btn btn-primary btn-lg customer_search" %>
    <% end %>
    <p>or</p>
    <button class="btn" data-toggle="modal" data-target="#customCustomer">
      Create Customer
    </button> 
  </div>
  <div class="col-sm-8">
    <div class="searched_customers">

      <h4 class="text-primary"><span class="glyphicon glyphicon-user"></span> Searched Customers</h4>
      <hr />
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Phone Number</th>
              <th>Email Address</th>
              <th>Add to Order</th>
            </tr>
          </thead>

          <tbody>
            <% unless @popular_customers.blank? %>
              <% for customer in @popular_customers %>
                <tr>
                  <td><%= customer.last_name %></td>
                  <td><%= customer.first_name %></td>
                  <td><%= customer.phone_number %></td>
                  <td><%= customer.email_address %></td>
                  <td class="add_to_current_sale"><%= link_to url_for(:controller => 'sales', :action => 'create_customer_association', :customer_id => customer.id, :sale_id => params[:id]), :remote => true do %><p><span class="glyphicon glyphicon-plus"></span></p><% end %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>