<div class="panel panel-default">
  <div class="panel-heading">Sale Details</div> 
    <div class="panel-body">
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#sale" data-toggle="tab">Sale</a></li>
        <li><a href="#customer" data-toggle="tab">Customer</a></li>
        <li><a href="#comments" data-toggle="tab">Comments</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="sale">
          <div class="row item_search_wrapper">
            <div class="col-sm-4">

              <%= form_for :search, :url => url_for(:controller => "sales", :action => "update_line_item_options", :format => :js), :method => "get", :remote => true do |f| %>
                <%= f.text_field :item_name, :class => "form-control item_search_input", :placeholder => "Search Items" %>
                <%= f.hidden_field :sale_id, :value => @sale.id %>
                <%= submit_tag "search", :class => "btn btn-primary btn-lg item_search" %>
              <% end %>
            </div>
            <div class="col-sm-8">
              <div class="searched_items">
              </div>
            </div>
          </div>
          <%= form_for(@sale) do |f| %>
            <% if @sale.errors.any? %>
              <div id="error_explanation">
                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>
                  </div>
                  <div class="panel-body">
                    <ul>
                    <% @sale.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>

            <hr />
            <div class="added_items">
              <%= render :partial => 'added_items', :locals=>{:f=>f} %>
            </div>

            <hr />
            <div class="sale_totals">
              <%= render :partial => 'sale_totals', :locals=>{:f=>f} %>
            </div>
            
        </div>

        <div class="tab-pane" id="customer">
          <%= f.fields_for :customers do |e| %>
            <div class="row">
              <div class="col-sm-6">
                <label>First Name</label>
                <%= e.text_field :first_name, :class => "form-control", :placeholder => "First Name" %>
              </div>
              <div class="col-sm-6">
                <label>Last Name</label>
                <%= e.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane" id="comments">
          <div class="row">
            <div class="col-sm-12">
              <label>Comments</label>
              <%= f.text_area :comments, :class => "form-control", :placeholder => "Comments" %>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-sm-12">
            <%= f.submit 'Update Sale', :class => "btn btn-success btn-lg" %>
          </div>
        </div> -->

        <% end %>
      </div>
      
    </div>
  </div>
</div>
