<%= form_for(@sale) do |f| %>
<% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.fields_for :items do |e| %>
    <div class="row">
      <div class="col-sm-2">
        <label>Sku</label>
        <%= e.text_field :sku, :class => "form-control", :placeholder => "SKU" %>
      </div>
      <div class="col-sm-3">
        <label>Item</label>
        <%= e.text_field :name, :class => "form-control", :placeholder => "Item" %>
      </div>
      <div class="col-sm-3">
        <label>Description</label>
        <%= e.text_field :description, :class => "form-control", :placeholder => "Description" %>
      </div>
      <div class="col-sm-2">
        <label>Price</label>
        <%= e.text_field :price, :class => "form-control", :placeholder => "Price" %>
      </div>
      <div class="col-sm-2">
        <label>Quantity</label>
        <%= e.text_field :price, :class => "form-control", :placeholder => "Quantity" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary">+</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">$14.99</span>
          Total
        </li>
        <li class="list-group-item">
          <span class="badge">$14.99</span>
          Tax
        </li>
        <li class="list-group-item">
          <span class="badge">$14.99</span>
          Discount %
        </li>
        <li class="list-group-item">
          <span class="badge">$14.99</span>
          Grand Total
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <%= f.fields_for :customers do |e| %>
    <div class="row">
      <div class="col-sm-6">
        <label>First Name</label>
        <%= e.text_field :first_name, :class => "form-control", :placeholder => "First Name" %>
      </div>
      <div class="col-sm-6">
        <label>Last Name</label>
        <%= e.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>
      </div>
    </div>
  <% end %>

  <hr />

  <div class="row">
    <div class="col-sm-12">
      <label>Comments</label>
      <%= f.text_area :comments, :class => "form-control", :placeholder => "Comments" %>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-12">
      <%= f.submit 'Update Sale', :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
