<div class="searched_items">	

	<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Add</th>
        </tr>
      </thead>

      <tbody>
      	<% for item in @available_items %>
          <tr>
            <td><%= item.sku %></td>
            <td><%= item.name %></td>
            <td><%= item.description %></td>
            <td><%= item.price %></td>
            <td class="add_to_current_sale"><%= link_to "Add", url_for(:controller => 'sales', :action => 'add_searched_item', :item_id => item.id, :sale_id => params[:search][:sale_id]), :remote => true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>